* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}


/* roots */

:root {
    --side-padding: 0 12%;
    --section-padding: 5% 12%;
    --black: #000;
    --primary-color: #0fccce;
    --secondary-color: #ccd6f6;
    --white: #fff;
    --border-radius: 15px;
    --body-bg: #141414;
}